services:
  myapp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: application
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/postgres
    ports:
      - "7009:7009"
    env_file: .env
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

volumes:
  db_data:
